DEBUG=True
#TEMPLATE_DEBUG=True
SECRET_KEY=gi_9rsn5=z2i319(8q_g+h*9p$)i$tt)u3n1xs_wh^6gytwhh5
ALLOWED_HOSTS='libraryofthings.cc, www.libraryofthings.cc, 192.168.178.22'

# Database credentials
DB_ENGINE=django.db.backends.postgresql
DB_NAME=lot_db
DB_USER=lot_user
DB_PASSWORD=p"A2@X[bd?uza[!g;3S
DB_HOST=localhost
DB_PORT=

