DEBUG=True
TEMPLATE_DEBUG=True
SECRET_KEY=django-insecure-d9s(&r)zh^!b_^k33e^0+3*oz*3&ri59b5aumb*bswaiw_u*2q
ALLOWED_HOSTS='192.168.178.22, localhost, libraryofthings.cc'

# Database credentials
DB_ENGINE = django.db.backends.sqlite3 
DB_NAME = db.sqlite3
DB_USER = 
DB_PASSWORD = 
DB_HOST =
DB_PORT = 
