{% extends 'core/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="rounded mt-4 m-6 border border-2 border-primary">
        <h2 class="mb-12 fs-4 fw-bold text-center">Newest Designs</h2>        
        <div class="grid grid-cols-3 gap-3">
            {% for design in designs %}
                <div>
                    <a href="{% url 'design:detail' design.id %}">
                        <div>
                            <img src="{{ design.image.url }}" class="rounded-t-xl">
                        </div>

                        <div class="p-6 bg-white rounded">
                            <h2 class="text-2xl">{{ design.name }}</h2>
                            <p class="">Production Costs: {{ design.costs}}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
<div class="rounded mt-4 m-6 border border-2 border-primary">  
    <h2 class="mb-4 fw-bold fs-4 text-center">Categories</h2>
    <div class="row justify-content-center">
        {% for category in categories %}  
            <div class="col-md-5 mb-3">
                <a href="{% url 'core:browse_category' category.id %}" class="btn btn-primary btn-lg w-100 p-4">
                    <div class="text-center">
                        <h3 class="mb-2">{{ category.name }}</h3>
                        <p class="mb-1">{{ category.get_descendant_count }} subcategories</p>
                        <p class="mb-0">{{ category.designs.count }} designs</p>
                    </div>
                </a>  
            </div>  
        {% endfor %}  
    </div>  
</div>
{% endblock%}
