{% extends 'core/base.html' %}
{% load thumbnail %}

{% block title %}{{ design.name }}{% endblock %}

{% block content %}
<div class="grid grid-cols-5 gap-6">
    <div class="col-span-3">
        <a href="{{ design.image.url }}" target=_blank>
            <img src="{% thumbnail design.image 'large_detail' %}" class="rounded-xl">
        </a>
    </div>
    <div class="col-span-2 p-6 bg-gray-100 rounded-xl">
        <h1 class="mb-6 text-3xl">{{ design.name }}</h1>
        <p class="text-gray-500"><strong>Costs: </strong>{{ design.costs }}</p>
        <p class="text-gray-500"><strong>Creator: </strong>{{ design.created_by }}</p>

        {% if design.description %}
            <p class="text-gray-700">
                <strong class="text-gray-500">Description:</strong></br>
                {{ design.description }}
            </p>
        {% endif %}

        {% if request.user == design.created_by %}
            <div class="mt-6 p-6 bg-white rounded-xl">
                <p>This design is your upload!</p>  

                <a href="{% url 'design:edit' design.id %}" class="inline-block
                    mt-6 px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl">Edit</a>
                <a href="{% url 'design:delete' design.id %}" class="inline-block
                    mt-6 px-6 py-3 text-lg font-semibold bg-red-500 text-white rounded-xl">Delete</a>
        {% else %}
            <a href="{% url 'conversation:new' design.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold
                bg-teal-500 text-white rounded-xl hover:bg-teal-700">Contact creator</a>
        {% endif %}
    </div>
</div>

<div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
    <h2 class="mb-12 text-2xl text-center">Related Designs</h2>
    
    <div class="grid grid-cols-3 gap-3">
        {% for design in related_designs %}
            <div>
                <a href="{% url 'design:detail' design.id %}">
                    <div>
                        <img src="{{ design.image.url }}" class="rounded-t-xl">
                    </div>
                    <div class="p-6 bg-white rounded-b-xl">
                        <h2 class="text-2xl">{{ design.name }}</h2>
                        <p class="text-gray-500">Costs: {{ design.costs}}</p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

