{% extends 'core/base.html' %}  
  
{% block title %}{{ course_name|upper }} Course Overview{% endblock %}  
  
{% block content %}  
<div class="container-fluid p-0">  
    <div class="card">  
        <div class="card-header">  
            <h2>Course Index</h2>  
        </div>  
        <div class="card-body">  
            {{ index_html|safe }}  
        </div>  
        <div class="card-footer text-center">  
            <a href="{% url 'knowhow:course_detail' section=section course_name=course_name %}"   
               class="btn btn-primary btn-lg">Enter Course</a>  
        </div>  
    </div>  
</div>  
{% endblock %}
